html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  max-width: 1440px;
  width: 100%;
}

:root {
  --blue-color: #00A4E5;
  --dark-color: #171819;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header-bgc {
  background-image: url(/img/header.png);
  max-width: 1440px;
  width: 100%;
  height: 768px;
  text-align: center;
  padding-top: 40px;
  margin: 0 auto;
}

.header__logo {
  width: 100px;
}

.h1-text {
  color: #fff;
}

.header__h1 {
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 5.7px;
  font-family: "Bebas Neue", sans-serif;
  margin: 300px 173px 0 185px;
}

.header__p {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin: 0;
  margin: 0 0 214px 0;
}

.Header__h5 {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.34em;
  text-align: center;
  color: #fff;
}

.nav {
  border-bottom: 1px solid #e6e6e6;
  max-width: 1440px;
  margin: 0 auto;
}

.nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  min-width: 940px;
  width: 100%;
  flex-shrink: 0;
  margin: 0 auto;
}

.nav_inner-img {
  max-width: 80px;
  width: 100%;
}

.nav__ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  max-width: 410px;
  width: 100%;
  justify-content: space-between;
}

.nav__ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: #48555b;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  text-align: center;

}

.nav__ul li:last-child {
  margin-right: 0px;
}

.nav__ul a:hover {
  color: #00A4E5;
  font-weight: 700;
  transition: 0.9s, ease;
}

.about {
  margin: 0 auto;
}

.text-h2 {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.13em;
  color: #48555b;
  margin: 0;
}

.about__h2 {
  text-align: center;
  margin-top: 57px;
  margin-bottom: 10px;
}

.line {
  width: 50px;
  height: 2px;
  background-color: var(--blue-color);
  margin: 0 auto 32px;
}

.about__flex {
  display: flex;
  margin-bottom: 34px;
  justify-content: space-between;
}

.about__flex-left__h3 {
  max-width: 405px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.01em;
  color: #48555b;
}

.about__span {
  color: var(--blue-color);
}

.text-p {
  max-width: 405px;
  font-weight: 400;
  font-size: 13px;
  line-height: 177%;
  letter-spacing: 0.01em;
  color: #48555b;
}

.about__flex-left-p {
  margin-top: 30px;
}

.about__flex-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 51px;
}

.about__flex-right__plan {
  background-image: url(/img/plan.png);
  width: 140px;
  height: 224px;
}

.about__flex-right__h2 {
  font-weight: 800;
  font-size: 24px;
  line-height: 121%;
  letter-spacing: 0.01em;
  color: #fff;
  margin: 15px;
}

.about__flex-right__manage {
  background-image: url(/img/manage.png);
  width: 140px;
  height: 224px;
}

.about__flex-right__deliver {
  background-image: url(/img/Build.png);
  width: 140px;
  height: 224px;
}

.services {
  padding-top: 60px;
}

.services__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 78px;
}

.services__title {
  margin-right: 98px;
}

.services-line {
  margin: 0;
  margin-top: 13px;
}

.services__p {
  font-size: 11px;
  margin-top: 13px;
}

.service__btn {
  margin-top: 3px;
}

.btn {
  width: 150px;
  height: 40px;
  border: none;
  background-color: var(--blue-color);
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.04em;
  text-align: center;
}
.btn:hover{
  width: 155px;
  height: 45px;
  border: 5px solid #00A4E5;
  transition: 0.4s, easy;
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.services__grid-item {
  border: 1px solid #e6e6e6;
  width: 295px;
  height: 330px;
  padding: 26px 20px 26px 23px;
}

.services-icon {
  margin-bottom: 4px;
}

.services-h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #48555b;
  margin-bottom: 14px;
}

.work {
  height: 498px;
  max-width: 1440px;
  background-image: url(/img/bg-contact.png);
  margin: 0 auto;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 106px;
  padding-top: 121px;
}

.work__h1 {
  margin: 0 auto;
  max-width: 315px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #48555b;
  margin-bottom: 30px;
}

.newsletter {
  height: 100px;
  background-color: #171819;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 5px;
}

.newsletter__flex {
  margin: 0 auto;
  display: flex;
  max-width: 685px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.newsletter__h4 {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}

.email-form {
  display: flex;

}

.newsletter__input {
  display: block;
  width: 250px;
  border: none;
  padding-left: 16px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #48555b;
}

.footer {
  max-height: 240px;
  height: 100%;
  background-color: #141A20;
  padding-top: 40px;
  padding-bottom: 50px;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-right: 26px;
}

.footer__company {
  max-width: 250px;
  width: 100%;
  margin-right: 40px;
}

.footer-h5 {
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.08em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-align: start;
  margin: 0;
}

.logo-black {
  margin-top: 19px;
  height: 23px;
}

.text-p-white {
  font-weight: 400;
  font-size: 11px;
  line-height: 173%;
  letter-spacing: 0.08em;
  color: #fff;
}

.footer__links {
  width: 262px;
  height: 150px;
  margin-right: 28px;
}

.links__flex {
  display: flex;
  padding: 0;
  gap: 35px;
  margin-top: 11px;
}

.links__flex-ul {
  padding: 0;
}

.links__flex-item {
  list-style: none;
}

.links__flex-item a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  line-height: 227%;
  letter-spacing: 0.08em;
  color: #fff;
}

.links__flex-item a:hover {
  color: #00A4E5;
  font-weight: 700;
  transition: 0.9s, ease;
}

.footer__contacts {
  width: 121px;
  line-height: 110%;
  letter-spacing: 0.85px;
  color: #fff;
  margin-right: 34px;
}

.footer__text-p {
  font-weight: 400;
  font-size: 11px;
  margin-top: 10px;

}

.footer__phone {
  text-decoration: none;
  line-height: 110%;
  letter-spacing: 0.85px;
  color: #fff;
  font-weight: 400;
  font-size: 11px;
}

.footer__email a {
  margin-top: 15px;
  text-decoration: none;
  line-height: 110%;
  letter-spacing: 0.85px;
  color: #fff;
  font-weight: 400;
  font-size: 11px;
}

.footer__email {
  margin-top: 15px;
}

.footer__socials {
  margin-top: 32px;
}

.footer__socials-flex {
  display: flex;
  gap: 24px;
}

.footer__socials-icon {
  display: block;
}

.footer__copyright {
  height: 60px;
  background-color: #171819;
  text-align: center;
  padding-top: 9px;
}

.footer__copyright-p {
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.08em;
  color: #fff;
  padding-left: 10px;
}


@media screen and (max-width: 990px) {
  .container {
    padding: 0 30px;
    width: 540px;
  }

  .about__flex {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .nav {
    border-bottom: 1px solid #e6e6e6;
    max-width: 990px;
    padding-bottom: 20px;
  }

  .nav__inner {
    padding: 15px;
    flex-direction: column;
    min-width: 540px;
    margin: 0 auto;
  }

  .header__h1 {
    font-size: 30px;
    margin: 300px auto 0;
  }

  .header-bgc {
    max-width: 990px;
    width: 100%;
  }

  .services__flex {
    flex-wrap: wrap;
  }

  .services__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .work {
    height: 498px;
    max-width: 990px;
  }

  .newsletter {
    height: 130px;
    max-width: 990px;
  }

  .newsletter__flex {
    flex-direction: column;
  }

  .newsletter__h4 {
    font-weight: 500;
    font-size: 14px;
  }

  .footer {
    max-height: 640px;
    max-width: 990px;
    margin: 0 auto;
  }

  .footer__flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__copyright {
    max-width: 990px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 680px) {
  .container {
    padding-left: 30px;
  }

  .body {
    max-width: 680px;
  }
}

@media screen and (max-width: 480px) {
  body {
    margin: 0 auto;
    max-width: 480px;
  }

  .container {
    padding: 0 30px;
    max-width: 450px;
    margin: 0;
  }

  .header-bgc {
    max-width: 480px;
    height: 500px;
  }

  .header__h1 {
    font-weight: 200;
    font-size: 30px;
    letter-spacing: 3.7px;
    margin-top: 250px;
    margin: 50px 20px;
  }

  .header__p {
    margin: 0 auto 50px;
    width: 300px;
  }

  .nav__inner {
    padding: 15px;
    flex-direction: column;
    min-width: 440px;
    margin: 0;
    align-items: flex-start;
    height: 150px;
  }

  .nav__ul {
    flex-direction: column;
  }
  .about {
    max-width: 480px;
  margin: 0 auto;
}

  .about__flex-right {
    margin: 0;
    grid-template-columns: repeat(1, 1fr);
  }

  .newsletter__flex {
    flex-direction: column;
    align-items: start;
    padding: 15px;
  }

.footer{
    max-width: 480px;
    margin: 0 auto;
  }
  .footer__flex {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .links__grid {
  display: flex;
  padding: 0;
  gap: 15px;
  margin-top: 11px;
}
.links__grid-item a {
  line-height: 97%;
}

  .footer__copyright {
    max-width: 480px;
    text-align: center;
  }
  .email-form{
    flex-direction: column;
  }
}
@media screen and (max-width: 390px) {
  .container{
    max-width: 375px;
  }
  
  .newsletter{
    height: 185px;
  }
  .about__flex{
    max-width: 320px;
  }
  .services__flex{
    max-width: 320px;
  }
}
@media screen and (max-width: 330px) {
  .container{
    max-width: 310px;
  }
  .about__flex{
    max-width: 310px;
  }
  .services__grid-item{
    width: 275px;
  }
  .footer__copyright-p{
    font-size: 10px;
  }
}