html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  max-width: 1440px;
  width: 100%;
}

:root {
  --blue-color: #00A4E5;
  --dark-color: #171819;
}
@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  box-sizing: border-box;
}
.nav-btn{
  display: none;
}
.logo-sidenav{
  margin-left: 15px;
  margin-top: 15px;
}
.header-bgc {
  max-width: 1440px;
  width: 100%;
  height: 768px;
  text-align: center;
  padding-top: 40px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: moveBackground 20s linear infinite;
}

.header__logo {
  width: 100px;
}

.h1-text {
  color: #fff;
}

.header__h1 {
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 5.7px;
  font-family: "Bebas Neue", sans-serif;
  margin: 300px 173px 0 185px;
}

.header__p {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin: 0;
  margin: 0 0 214px 0;
}

.Header__h5 {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.34em;
  text-align: center;
  color: #fff;
}

.nav {
  border-bottom: 1px solid #e6e6e6;
  max-width: 1440px;
  margin: 0 auto;
}

.nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  max-width: 940px;
  width: 100%;
  flex-shrink: 0;
  margin: 0 auto;
}

.nav_inner-img {
  max-width: 80px;
  width: 100%;
}

.nav__ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  max-width: 410px;
  width: 100%;
  justify-content: space-between;
}

.nav__ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: #48555b;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  text-align: center;

}

.nav__ul li:last-child {
  margin-right: 0px;
}

.nav__ul a:hover {
  color: #00A4E5;
  font-weight: 700;
  transition: 0.9s, ease;
}

.about {
  margin: 0 auto;
}

.text-h2 {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.13em;
  color: #48555b;
  margin: 0;
}

.about__h2 {
  text-align: center;
  margin-top: 57px;
  margin-bottom: 10px;
}

.line {
  width: 50px;
  height: 2px;
  background-color: var(--blue-color);
  margin: 0 auto 32px;
}

.about__flex {
  display: flex;
  margin-bottom: 34px;
  justify-content: space-between;
}

.about__flex-left__h3 {
  max-width: 405px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.01em;
  color: #48555b;
}

.about__span {
  color: var(--blue-color);
}

.text-p {
  max-width: 405px;
  font-weight: 400;
  font-size: 13px;
  line-height: 177%;
  letter-spacing: 0.01em;
  color: #48555b;
}

.about__flex-left-p {
  margin-top: 30px;
}

.about__flex-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 51px;
}

.about__flex-right__plan {
  width: 140px;
  height: 224px;
}

.about__flex-right__h2 {
  font-weight: 800;
  font-size: 24px;
  line-height: 121%;
  letter-spacing: 0.01em;
  color: #fff;
  margin: 15px;
}

.about__flex-right__manage {
  width: 140px;
  height: 224px;
}

.about__flex-right__deliver {
  width: 140px;
  height: 224px;
}

.services {
  padding-top: 60px;
}

.services__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 78px;
}

.services__title {
  margin-right: 98px;
}

.services-line {
  margin: 0;
  margin-top: 13px;
}

.services__p {
  font-size: 11px;
  margin-top: 13px;
}

.service__btn {
  margin-top: 3px;
}

.btn {
  width: 150px;
  height: 40px;
  border: none;
  background-color: var(--blue-color);
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.04em;
  text-align: center;
}
.btn:hover{
  width: 155px;
  height: 45px;
  border: 5px solid #00A4E5;
  transition: 0.4s, easy;
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.services__grid-item {
  border: 1px solid #e6e6e6;
  width: 295px;
  height: 330px;
  padding: 26px 20px 26px 23px;
}

.services-icon {
  margin-bottom: 4px;
}

.services-h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #48555b;
  margin-bottom: 14px;
}

.work {
  height: 498px;
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 106px;
  padding-top: 121px;
}

.work__h1 {
  margin: 0 auto;
  max-width: 315px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #48555b;
  margin-bottom: 30px;
}

.newsletter {
  height: 100px;
  background-color: #171819;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 5px;
}

.newsletter__flex {
  margin: 0 auto;
  display: flex;
  max-width: 685px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.newsletter__h4 {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}

.email-form {
  display: flex;

}

.newsletter__input {
  display: block;
  width: 250px;
  border: none;
  padding-left: 16px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #48555b;
}

.footer {
  max-height: 240px;
  height: 100%;
  background-color: #141A20;
  padding-top: 40px;
  padding-bottom: 50px;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-right: 26px;
}

.footer__company {
  max-width: 250px;
  width: 100%;
  margin-right: 40px;
}

.footer-h5 {
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.08em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-align: start;
  margin: 0;
}

.logo-black {
  margin-top: 19px;
  height: 23px;
}

.text-p-white {
  font-weight: 400;
  font-size: 11px;
  line-height: 173%;
  letter-spacing: 0.08em;
  color: #fff;
}

.footer__links {
  width: 262px;
  height: 150px;
  margin-right: 28px;
}

.links__flex {
  display: flex;
  padding: 0;
  gap: 35px;
  margin-top: 11px;
}

.links__flex-ul {
  padding: 0;
}

.links__flex-item {
  list-style: none;
}

.links__flex-item a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
  line-height: 227%;
  letter-spacing: 0.08em;
  color: #fff;
}

.links__flex-item a:hover {
  color: #00A4E5;
  font-weight: 700;
  transition: 0.9s, ease;
}

.footer__contacts {
  width: 121px;
  line-height: 110%;
  letter-spacing: 0.85px;
  color: #fff;
  margin-right: 34px;
}

.footer__text-p {
  font-weight: 400;
  font-size: 11px;
  margin-top: 10px;

}

.footer__phone {
  text-decoration: none;
  line-height: 110%;
  letter-spacing: 0.85px;
  color: #fff;
  font-weight: 400;
  font-size: 11px;
}

.footer__email a {
  margin-top: 15px;
  text-decoration: none;
  line-height: 110%;
  letter-spacing: 0.85px;
  color: #fff;
  font-weight: 400;
  font-size: 11px;
}

.footer__email {
  margin-top: 15px;
}

.footer__socials {
  margin-top: 32px;
}

.footer__socials-flex {
  display: flex;
  gap: 24px;
}

.footer__socials-icon {
  display: block;
}

.footer__copyright {
  height: 60px;
  background-color: #171819;
  text-align: center;
  padding-top: 9px;
}

.footer__copyright-p {
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.08em;
  color: #fff;
  padding-left: 10px;
}


@media screen and (max-width: 990px) {
  .container {
    padding: 0 30px;
    width: 540px;
  }

  .about__flex {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .nav {
    border-bottom: 1px solid #e6e6e6;
    max-width: 990px;
    padding-bottom: 20px;
  }

  .nav__inner {
    padding: 15px;
    flex-direction: column;
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
  }

  .header__h1 {
    font-size: 30px;
    margin: 300px auto 0;
  }

  .header-bgc {
    max-width: 990px;
    width: 100%;
  }

  .services__flex {
    flex-wrap: wrap;
  }

  .services__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .work {
    height: 498px;
    max-width: 990px;
  }

  .newsletter {
    height: 130px;
    max-width: 990px;
  }

  .newsletter__flex {
    flex-direction: column;
  }

  .newsletter__h4 {
    font-weight: 500;
    font-size: 14px;
  }

  .footer {
    max-height: 640px;
    max-width: 990px;
    margin: 0 auto;
  }

  .footer__flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__copyright {
    max-width: 990px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 680px) {
  .container {
    padding-left: 30px;
  }

  .body {
    max-width: 680px;
  }
}

@media screen and (max-width: 480px) {
  body {
    margin: 0 auto;
    max-width: 480px;
  }

  .container {
    padding: 0 10px;
    max-width: 450px;
    margin: 0;
  }
  .nav-btn{
    display: block;
  }
  .services{
    padding-left: 20px;
  }
  .material-icons{
    color: var(--blue-color);
  }
  .media_nav{
    display: flex;
    justify-content: space-between;
    max-width: 390px;
    width: 100%;
  }
  .header-bgc {
    max-width: 480px;
    height: 500px;
  }

  .header__h1 {
    font-weight: 200;
    font-size: 30px;
    letter-spacing: 3.7px;
    margin-top: 250px;
    margin: 50px 20px;
  }

  .header__p {
    margin: 0 auto 50px;
    width: 300px;
  }

  .nav__inner {
    padding: 15px;
    flex-direction: column;
    max-width: 390px;
    margin: 0;
    align-items: flex-start;
    height: 40px;
  }

  .nav__ul {
    display: none;
  }
  .about {
    max-width: 480px;
  margin: 0 auto;
}

  .about__flex-right {
    margin: 0;
    grid-template-columns: repeat(1, 1fr);
  }
  .newsletter{
    height: 150px;
  }
  .newsletter__flex {
    flex-direction: column;
    align-items: start;
    padding: 15px;
  }
  .newsletter__input{
    margin-bottom: 5px;
    width: 133px;
  }

.footer{
    max-width: 480px;
    margin: 0 auto;
  }
  .footer__flex {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .links__grid {
  display: flex;
  padding: 0;
  gap: 15px;
  margin-top: 11px;
}
.links__grid-item a {
  line-height: 97%;
}

  .footer__copyright {
    max-width: 480px;
    text-align: center;
  }
  .email-form{
    flex-direction: column;
  }
}
@media screen and (max-width: 390px) {
  .container{
    max-width: 375px;
  }
  
  .newsletter{
    height: 185px;
  }
  .about__flex{
    max-width: 320px;
  }
  .services__flex{
    max-width: 320px;
  }
}
@media screen and (max-width: 330px) {
  .container{
    max-width: 310px;
  }
  .about__flex{
    max-width: 310px;
  }
  .services__grid-item{
    width: 275px;
  }
  .footer__copyright-p{
    font-size: 10px;
  }
}
/*меню*/
.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-small,
.btn-floating,
.dropdown-content,
.collapsible,
.sidenav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.sidenav .collapsible,
.sidenav.fixed .collapsible {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sidenav .collapsible li,
.sidenav.fixed .collapsible li {
    padding: 0;
}

.sidenav .collapsible-header,
.sidenav.fixed .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    padding: 0 16px;
}

.sidenav .collapsible-header:hover,
.sidenav.fixed .collapsible-header:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.sidenav .collapsible-header i,
.sidenav.fixed .collapsible-header i {
    line-height: inherit;
}

.sidenav .collapsible-body,
.sidenav.fixed .collapsible-body {
    border: 0;
    background-color: #fff;
}

.sidenav .collapsible-body li a,
.sidenav.fixed .collapsible-body li a {
    padding: 0 23.5px 0 31px;
}

.sidenav {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    padding-left: 15px;
    background-color: #534e4e;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}

.sidenav.right-aligned {
    right: 0;
    -webkit-transform: translateX(105%);
    transform: translateX(105%);
    left: auto;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.sidenav .collapsible {
    margin: 0;
}

.sidenav li {
    float: none;
    line-height: 48px;
}

.sidenav li.active {
    background-color: rgba(0, 0, 0, 0.05);
}

.sidenav li>a {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}

.sidenav li>a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.sidenav li>a.btn,
.sidenav li>a.btn-large,
.sidenav li>a.btn-small,
.sidenav li>a.btn-large,
.sidenav li>a.btn-flat,
.sidenav li>a.btn-floating {
    margin: 10px 15px;
}

.sidenav li>a.btn,
.sidenav li>a.btn-large,
.sidenav li>a.btn-small,
.sidenav li>a.btn-large,
.sidenav li>a.btn-floating {
    color: #fff;
}

.sidenav li>a.btn-flat {
    color: #343434;
}

.sidenav li>a.btn:hover,
.sidenav li>a.btn-large:hover,
.sidenav li>a.btn-small:hover,
.sidenav li>a.btn-large:hover {
    background-color: #2bbbad;
}

.sidenav li>a.btn-floating:hover {
    background-color: #26a69a;
}

.sidenav li>a>i,
.sidenav li>a>[class^="mdi-"],
.sidenav li>a li>a>[class*="mdi-"],
.sidenav li>a>i.material-icons {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 32px 0 0;
    width: 24px;
    color: rgba(0, 0, 0, 0.54);
}

.sidenav .divider {
    margin: 8px 0 0 0;
}

.sidenav .subheader {
    cursor: initial;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
}

.sidenav .subheader:hover {
    background-color: transparent;
}

.sidenav .user-view {
    position: relative;
    padding: 32px 32px 0;
    margin-bottom: 8px;
}

.sidenav .user-view>a {
    height: auto;
    padding: 0;
}

.sidenav .user-view>a:hover {
    background-color: transparent;
}

.sidenav .user-view .background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.sidenav .user-view .circle,
.sidenav .user-view .name,
.sidenav .user-view .email {
    display: block;
}

.sidenav .user-view .circle {
    height: 64px;
    width: 64px;
}

.sidenav .user-view .name,
.sidenav .user-view .email {
    font-size: 14px;
    line-height: 24px;
}

.sidenav .user-view .name {
    margin-top: 16px;
    font-weight: 500;
}

.sidenav .user-view .email {
    padding-bottom: 16px;
    font-weight: 400;
}


.sidenav.sidenav-fixed {
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    position: fixed;
}

.sidenav.sidenav-fixed.right-aligned {
    right: 0;
    left: auto;
}



.sidenav .collapsible-body>ul:not(.collapsible)>li.active,
.sidenav.sidenav-fixed .collapsible-body>ul:not(.collapsible)>li.active {
    background-color: #ee6e73;
}

.sidenav .collapsible-body>ul:not(.collapsible)>li.active a,
.sidenav.sidenav-fixed .collapsible-body>ul:not(.collapsible)>li.active a {
    color: #fff;
}

.sidenav .collapsible-body {
    padding: 0;
}

.sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
    display: none;
}

.material-icons {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
}

nav .brand-logo i,
nav .brand-logo [class^="mdi-"],
nav .brand-logo [class*="mdi-"],
nav .brand-logo i.material-icons {
    float: left;
    margin-right: 15px;
}

nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
    display: block;
    font-size: 24px;
    height: 56px;
    line-height: 56px;
}

nav ul a.btn>.material-icons,
nav ul a.btn-large>.material-icons,
nav ul a.btn-small>.material-icons,
nav ul a.btn-large>.material-icons,
nav ul a.btn-flat>.material-icons,
nav ul a.btn-floating>.material-icons {
    height: inherit;
    line-height: inherit;
}

.input-field input[type=search]:focus:not(.browser-default)+label i,
.input-field input[type=search]:focus:not(.browser-default)~.mdi-navigation-close,
.input-field input[type=search]:focus:not(.browser-default)~.material-icons {
    color: #444;
}

.input-field input[type=search]~.mdi-navigation-close,
.input-field input[type=search]~.material-icons {
    position: absolute;
    top: 0;
    right: 1rem;
    color: transparent;
    cursor: pointer;
    font-size: 2rem;
    -webkit-transition: .3s color;
    transition: .3s color;
}

.divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}

.sidenav .divider {
    margin: 8px 0 0 0;
}

ul#slide-out:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}

ul#slide-out:not(.browser-default)>li {
    list-style-type: none;
}

#slide-out a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
.sidenav{

}